
.ch
{
  font-size: 70px;
  font-weight: 600;
  width:700px;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color:white;
  border-radius: 20px;
  border :1px solid black;
  margin-top:50px;
  text-align: center;
  position: relative;
  left:400px;
}
.fulllist
{
  position: relative;
  left:100px;
 
  flex-direction: row;
  
}

